header {
  display: flex;
  padding: 15px;
  border-bottom: 2px solid black;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

nav p {
  font-size: 16px;
  margin: 0 0 0 40px;
}
.form-element {
  display: flex;
  flex-direction: column;
  max-width: 500px;

}
.page-wrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 25px;
}

.form-element input {
  margin-bottom: 30px;
  padding: 10px;
}

.form-element label {
  font-weight: bold;
  margin-bottom: 8px;
}
.form-element button {
  font-size: 16px;
  margin-top: 20px;
  padding: 10px;
}